.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4rem;
}

.navbar__categories {
  --gap: 2.4rem;
}

.navbar__item:first-child {
  margin-inline: 2rem;
}

.navbar__user {
  --gap: 1rem;
  align-items: center;
}

.navbar__search {
  border-radius: 50vw;
  padding-left: 1.4rem;
}

.navbar__form {
  --gap: 0;
  justify-content: center;
}
.navbar__input {
  border: 1px solid transparent;
  min-height: 3rem;
  background-color: transparent;
  width: 14.4rem;
}

.navbar__input::placeholder {
  font-size: 1rem;
  font-family: var(--ff-sans-cond);
}
.navbar__btn {
  border: none;
  border-radius: 50%;
  padding-inline: 1rem;
  cursor: pointer;
}

.navbar__icon {
  border-radius: 50%;
  padding: 0.9rem;
  cursor: pointer;
}

.navbar__total {
}
