.hero {
  --gap: 0.4rem;
  padding: 2rem 4rem;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  min-height: 90vh;
}

.hero__container {
}

.hero__cta {
  text-align: center;
}

.hero__btn {
  --gap: 1.2rem;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 100vw;
}
